.section {
    position:relative;
    background: #0d0e13;
    background: var(--color-dark-grey);
    color: #e4e0db;
    color: var(--color-light-grey);
  
    padding: 21.3333333333vw 0 ;

}

 .icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
 .intro {
  margin: 2.8611111111vw 0 11.4583333333vw;
  width: 40.625vw;
}

 .item {
    position: relative;
}

/* list item */
 .index {
  color: var(--color-light-grey-08);

}
 .subtitle {
    margin-bottom: 6.1333333333vw;
}
 .body p {
    
    color: var(--color-light-grey-08);
    margin-bottom: 8vw;
}
 .body p:last-child {
    margin: 0;
}

@media (max-width:601px) {
  

  .item {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 18.6666666667vw;
}
 .index {
    grid-column: 1 / 3;
  }
  .subtitle {
    grid-column: 3 / 10;
  }
  .body {
    grid-column: 3 / 10;
  }
}

@media (min-width: 601px) {
     .container {
        margin: 0 8.3333333333vw;
    }
     .section {
        padding: 13.8888888889vw 0 0 0 ; 
    }
      .label {
        padding-left: 1.5277777778vw;
    }
      .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
      
   

    .items {
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }

    /* item list */
      .index {
        left: -3.125vw;
        position: absolute;
        top: 10.9722222222vw;
        
    }
      .items {
        padding-bottom: 4.22435vw;
        display: grid;
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
    }
      .item:first-child {
        grid-column: 3 / 7;
    }
      .item:nth-child(2) {
        grid-column: 8 / 12;
        margin-top: 10.4166666667vw;
    }
      .item:nth-child(3) {
        grid-column: 2 / 5;
    }
      .item:nth-child(4) {
        grid-column: 7 / 11;
        margin-top: 10.4166666667vw;
    }
      .subtitle {
        margin-bottom: 1.7361111111vw;
    }
      .body {
        max-width: 19.2361111111vw;
    }
}