.section {
  padding:15vw 0 0 0;
}

.container {

  position: relative;
}

.icon {
  height: 3.2vw;
  position: absolute;
  transform: translate(-5.3333333333vw, 2.1333333333vw);
  width: 3.2vw;
  z-index: 1;
}


.title {
  display: flex;
  flex-direction: column;
  margin: 10.6666666667vw 0 6.9333333333vw;
}


.body span:last-child {
  margin: 8vw 0 21.3333333333vw;
}




/* image */
.imgBox {
  position: relative;
  height: fit-content;

}

.image {
  height: 50.923487vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  clip-path: polygon(6.68% 0%, 93.32% 0%, 93.32% 100%, 6.68% 100%);
  will-change: transform;
}

.w_img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  will-change: transform;
}

.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  position: absolute;
  height: 100%;
}

.background .dark {
  left: 0;
  position: absolute;
  right: 0;

  height: 50%;
  bottom: 0;
  background: #0d0e13;
}

.background .light {
  left: 0;
  position: absolute;
  right: 0;

  height: 50%;
  top: 0;
}

@media (max-width: 601px) {
  .aboutus_minded {
    padding: 21.3333333333vw 0 0;
  }

  .container {
    margin: 0 8vw !important;
  }

  .quote {
    display: none !important;
  }

  .image {
    height: 72vh !important;
  }

  .imgBox img {
    width: auto !important;
    height: 100% !important;
  }
}

@media (min-width: 601px) {

  .container {
    display: grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 8.3333333333vw;
    margin-bottom: 10.4166666667vw;
  }

  .label {
    position: absolute;
    top: 27.809722vw;
    height: 2.3611111111vw;
    line-height: 2.5694444444vw;
    padding-left: 1.5277777778vw;
  }

  .title {
    grid-column: 4 / 13;
    margin: 0 0 4.0277777778vw;
    order: 2;
  }

  .icon {
    height: .8333333333vw;
    transform: translate(-1.4930555556vw, .7638888889vw);
    width: .8333333333vw;
    will-change: transform;
  }

  .body {
    grid-column: 4 / 9;
    order: 3;
  }

  .body p:last-child {
    margin: 2.0833333333vw 0 0;
  }

  .quote {
    align-self: flex-end;
    
    border-top: 1px solid var(--color-dark-grey-02);
    grid-column: 10 / 13;
    order: 4;
    padding-top: 1.3888888889vw;
  }

  /* image */
  .image {
    height: 55.5555555556vw;
    width: 100%;
  }

}