.section {
    height: 136.6666666667vw;
    padding-bottom: 25vh;
    overflow: hidden;
}



.container {
    position: relative;
    margin: 0 8.3333333333vw;
    z-index:2;
}

.intro {
    width: 100%;
    padding-top: 20vw;
}


 .title {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 13;


    margin:0 0 6.875vw;
}

 .menu {
  pointer-events: auto;
    grid-column: 9 / 11;
}
 .contact {
  pointer-events: auto;
    grid-column: 11/13;
   
}
 .link {
    grid-column: 1 / 6;

}

.item {
    height: 2.2222222222vw;
}
.detail {
    display:grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 10vh;
}

.paragraph {
    grid-column: 1 / 6;
    margin-bottom:6.1111111111vw;
}

.background {
    overflow: hidden;
    user-select: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: 110% auto;
    filter: 100%;
    will-change: transform,filter;
}


@media (max-width:601px) {
  .section {
    height: 140vh;
  }
  .intro {
    padding-top: 50vh;
}
  .intro,.detail {
    display: flex;
    flex-direction: column;
  }
  .menu,.contact {
    display: none;
  }
  .background {
    background-size: auto 100%;
    background-position: center center;
  }
}