.section{
    overflow: hidden;
    background-color: white;
    padding:20vh 0;
}

.container {
    margin: 0 8.3333333333vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lable  {
    color: var(--color-dark-grey);
}


.icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}


 .body {
    text-align: center;
    max-width: 72%;
}

.title {
    text-align: center;
    margin: 10.9333333333vw 0 6.1333333333vw;
}


 
@media (min-width: 601px) {

    .title {
        margin: 3.4722222222vw 0 2.0833333333vw;
    }
     .text {
        width: fit-content;
    }
    .lable {
  
    }
    .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .27638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
}

@media (max-width: 601px) {
   /*  .section {
        padding-top:12vh !important;
    }
    .text {
        padding: 10vw 0 !important;
    }
    .media_wrapper {
        margin-top: 21.3333333333vw !important;
    }
    .media:first-child {
        height: 94.375vw;
        width: 50.972222vw;
    }
     .media:nth-child(2) {
        width: 24.791667vw;
        left: 9.097222vw;
        top: -13.111111vw;
        height: 46.319444vw;

    }
     .media:nth-child(3) {
        height: 32.152778vw;
        left: 55vw;
        top: 10.236111vw;
        width: 38.083333vw;
    }
     .media:nth-child(4) {
        height: 32.638889vw;
        left: 9.097222vw;
        top: 72.930556vw;
        width: 41.319444vw;
    }
     .media:nth-child(5) {
        height: 29.319444vw;
        left: 63.583333vw;
        top: 71.930556vw;
        width: 30.319444vw;
  
    } */
}