.wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    pointer-events: auto;
    padding: 5.8888888889vw 0 5.5555555556vw;
}

.container {
    display: grid;
    position: relative;
    z-index: 2;
    
}


 .divider {
    background: hsla(28, 37%, 81%, .6);
    background: var(--color-sand-06);
    height: 1px;
}
@media (max-width: 601px) {
    .footer_section {
        height:86vh !important;
    }
    .container {
        margin:0 !important;
    }
    .address,.link {
        display:none !important;
    }
    .title {
        margin-top: 5rem!important;
        justify-content: center!important;
    }
    .body {
        font-size: 1rem !important;
        line-height: 130% !important;
    }
   
}
@media (min-width: 601px) {
   
    .container{
        margin: 0 8.3333333333vw;
        grid-column-gap: 2.2222222222vw;
        grid-template-columns: repeat(12, 1fr);
      
    }
    .title {
        grid-column: 1 / 6;
        margin-bottom: 1.8055555556vw;
        text-indent: -.3472222222vw;
        
    }
    .body {
        grid-column: 1 / 6;
    }
     .divider {
        grid-column: 1 / 13;
        margin: 2.1666666667vw 0;
    }
    .address {
        grid-column: 1 / 4;
     
      
    }
    .nav_footer {
        grid-column: 4 / 6;
      
    }
    .social {
        grid-column: 6 / 9;
    
    }
    .item a{
        line-height: 2.0833333333vw !important;
    
    }

    .link {
        grid-column: 12 / 13;
        margin-top: auto;
     

    }
}
.link {
    display: inline-flex;
    position: relative;
}
