* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
    scrollbar-width: none
}

*,
:after,
:before {
    box-sizing: border-box
}



.dark_background h1,
.dark_background h2,
.dark_background h3,
.dark_background h4,
.dark_background p,
.dark_background a {}

body {
    margin: 0;
    padding: 0;
    font-family: "BD-Medium", sans-serif;
    overflow: hidden;
    background-color: var(--color-story);

    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

section {
    position: relative;
    pointer-events: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.willChangeTranform {
    will-change: tranform;
}

.willChangeScale {
    will-change: tranform;
}

.willChangeBoth {
    will-change: tranform, scale;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

.light_background {
    background-color: var(--white);
}

.dark_background {
    background-color: var(--black);
}