body {
    margin: 0;
    padding: 0;
    font-family: "BD-Medium", sans-serif;
    overflow: hidden;
    background-color:var(--color-story);
}
section {
    position: relative;
    pointer-events: none;
}
.willChangeTranform {
    will-change: tranform;
}
.willChangeScale {
    will-change: tranform;
}
.willChangeBoth {
    will-change: tranform,scale;
}
h1,h2,h3,h4,h5,p {
    margin:0;
    padding: 0;
}
.split-mask-word-mask {
    display: block !important;
    
}