/* TRANSITION PAGE */
:root {
    --ease-all: cubic-bezier(0.16, 1, 0.3, 1);
    --duration: 2s;
    --targetYEnter: -500px;
    --targetYLeave: 500px;
    --targetRotEnter: 4deg;
    --targetRotLeave: -4deg;
    --targetScale: 1.2;
    --targetBrightness: 16%;
    --maskStart: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    --maskEnd: polygon(0% -2%, 100% 0%, 100% 100%, 0% 100%);
   
}

.mask-enter {
    animation: maskEnterAnimation var(--duration) forwards var(--ease-all);
}

@keyframes maskEnterAnimation {
    0% {
        clip-path: var(--maskStart);
    }

    100% {
        clip-path: var(--maskEnd);
    }
}

.page-enter {
    animation: pageEnterAnimation var(--duration) forwards var(--ease-all);
    filter: brightness(var(--targetBrightness));
    transform: rotate(var(--targetRotEnter)) translateY(var(--targetYLeave)) scale(var(--targetScale));
}

@keyframes pageEnterAnimation {
    to {
        filter: brightness(100%);
        transform: rotate(0deg) translateY(0) scale(1);
    }
}

.page-leave {
    animation: pageLeaveAnimation var(--duration) forwards var(--ease-all);
    filter: brightness(100%);
    transform: rotate(0deg) translateY(0) scale(1);
}

@keyframes pageLeaveAnimation {
    to {
        filter: brightness(var(--targetBrightness));
        transform: rotate(var(--targetRotLeave)) translateY(var(--targetYEnter)) scale(var(--targetScale));
    }
}


/*  HERO FADE TITILE */
.wrapper-word-hero-span {
    width: fit-content;
    text-transform: capitalize;
    overflow: hidden;
}

.word-hero-span {
    display: block;
    opacity: 0;
    transform: translateY(100%) rotate(7deg);
    transform-origin: left center;
    transition: transform 1s ease-out, opacity 1s ease-out;
    will-change: transform, opacity;
}

.fade-in-motion {
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: transform 1s ease-out, opacity 1s ease-out;
}