.section {
    color: #0d0e13;
    padding: 21.3333333333vw 0;
    height: fit-content;
    background-color: white;
    pointer-events: auto;
}

.container {
    pointer-events: none;
    margin: 0 8.3333333333vw;
}

.head {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}


.lable {
    display: inline-flex;

    height: 7.7333333333vw;
    justify-self: flex-start;
    padding-left: 5.8666666667vw;
    position: relative;
}

.title {
    margin: 5.3333333333vw 0 6.6666666667vw;
}

.w_info {
    position: relative;
    overflow: hidden;
}

.icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}

.services {
    display: grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
}

.service {
    display: flex;
    flex-direction: column;
    height: fit-content;

    pointer-events: auto !important;
}

.block {
    overflow: hidden;
    position: relative;
    pointer-events: none;
    background-color: gray;
    height: 100%;
    img {
        object-fit: cover;
        width: 100%;
    }
}

.info {
    will-change: transform;
}




@media (max-width: 601px) {

    .services {
        margin-top: 8vw !important;
    }

    .service {
        margin-bottom: 8vw !important;
    }

    .body p {}

    .w_info {
        margin-top: .5rem !important;
    }

    .info {

        transform: unset !important;
    }

    .info * {
        font-size: .86rem !important;
    }
}

@media (min-width: 601px) {
    .servcies_section {
        height: 189vw;
    }

    .servcies_section {

        padding: 14.3055555556vw 0;
    }

    .lable {
        height: 2.3611111111vw;
      
        padding-left: 1.5277777778vw;

        margin: 0 0 0 57.0138888889vw;
        order: 2;
    }

    .title {
      
        margin: 0 0 6.9444444444vw 6.1805555556vw;
        order: 1;
    }

    .body {
        margin-left: 56.9444444444vw;
        order: 3;
        width: 25.6944444444vw;
    }

    .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }




    .service:first-child .block {
        height: 50.625vw;
    }


    .service:first-child {
        grid-column: 2 / 8;
        width: 100%;
        aspect-ratio: 504/677;
    }

    .service:nth-child(2) {
        grid-column: 9 / 13;
        margin-top: 27.0833333333vw;
        width: 100%;
        aspect-ratio: 504/677;
    }

    .service:nth-child(3) {
        grid-column: 6 / 11;
        margin-top: 11.5972222222vw;
        width: 100%;
        aspect-ratio: 504/677;
    }

    .service:nth-child(4) {
        grid-column: 2 / 5;
        margin-top: -10.0694444444vw;
        width: 100%;
        aspect-ratio: 504/677;
    }
}