.section {
    background-color: white;
    color: var(--color-dark-grey);
    pointer-events: auto;
}

.container {
    pointer-events: none;
    display:grid;
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 8.3333333333vw;

}
.title {
    grid-column: 4 / 13;
    margin: 0 0 6.4vw;
}
.title.is_normal .title_line{
   
  
}


.list{
    grid-column: 4 / 11;
}
.list .item {
    padding-top:1.5vw;
}
.list .item:last-child {
    padding-bottom:1.5vw;
}
.list .item p {
    font-family: "BS-Medium";
    font-size: 3.7333333333vw;
    font-size: var(--font-s-p-small);
    letter-spacing: .0266666667vw;
    letter-spacing: var(--font-ls-p-small);
    line-height: 5.6vw;
    line-height: var(--font-lh-p-small);
}


.list .item {
    display:flex;
}
.list .item > p:first-child {
    width:50%;
}
.list .item > p:last-child {
    width:50%;
}
.label {
    grid-column: 2 / 4;
    display: inline-flex;
    height: 7.7333333333vw;
    justify-self: flex-start;
    padding-left: 5.8666666667vw;
    position: relative;
}



.icon {
    height: 3.2vw;
    position: absolute;
    transform: translate(-5.3333333333vw, 2.1333333333vw);
    width: 3.2vw;
    z-index: 1;
}
.text {
    display: flex;
    position: relative;
    transform-origin: top left;
    z-index: 1;
}


@media (min-width: 601px) {

    .icon {
        height: .8333333333vw;
        transform: translate(-1.4930555556vw, .7638888889vw);
        width: .8333333333vw;
        will-change: transform;
    }
}


@media (max-width: 601px) {
    .title {
        grid-row: 2!important;
       
        grid-column: 1 / 12 !important;
    }
    .title_line {
        font-size: 3.6rem !important;
        line-height: 100% !important;
    }
    .label{
        grid-row: 1!important;
        margin-bottom: 1rem;
    }
    .list {
        grid-row: 3!important;
        grid-column: 1 / 13 !important;
    }
    .list .item {
        margin-bottom : 1rem;
    }
    .list .item p {
        font-size: .86rem !important;
        line-height: 120% !important;
    }
    .list .item > p:first-child {
        width:40% !important;
     
    }
    .list .item > p:last-child {
        width:60% !important;
    }
}