
.nav {
    position: fixed;
    right: 3.4722222222vw;
    top: 5.000001vw;
    transition: color .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 999;
    will-change: opacity;
    mix-blend-mode: difference;
    padding: .5rem 0;
    pointer-events: auto;
  

}
.logo {
    position: fixed;
    left: 8.3333333333vw;
    top: 5.000001vw;
    width: 10vw;
}
.logo svg {
    width: 100%;
    height: auto;
}
.nav_list {
    position: relative;
    display: flex;
    pointer-events: none;
      overflow: hidden;
}
.this_icon {
    pointer-events: none;
    position: absolute;
    bottom:0;
    left: 0;
    width: .7vw;
    height: .7vw;
    color: white;
  
    will-change: transform;
    transform-origin: center center;
    
    transform: translateY(10px) rotate(180deg) scale(0);
 

    svg {
        position: absolute;
    }
}

.nav_item {
    width:7vw;
    text-align: center;
    overflow: hidden;
    
    will-change: transform,opacity;
    transform: translateY(20px) rotate(7deg);
    opacity: 0;
}



@media (min-width: 601px) {
  
}
@media (max-width: 601px) {
    .nav {
        display: none !important;
    }
  
}
