
@media (max-width:601px) {
    #button_menu {
        opacity: 1;
        visibility: visible;
    }
    #navbar_deskop {
        opacity: 0;
        visibility: hidden;
    }
}
@media (min-width: 601px) {
    #button_menu {
        opacity: 0;
      
    }
    #navbar_deskop {
        opacity: 1;
    }
}


.nav {
    position: fixed;
    right: 3.4722222222vw;
    top: 5.000001vw;
    transition: color .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 999;
    will-change: opacity;
    mix-blend-mode: difference;
    padding: .5rem 0;
    pointer-events: auto;
 
}
.logo {
    position: fixed;
    left: 8.3333333333vw;
    top: 5.000001vw;
    width: 10vw;
}
.logo svg {
    width: 100%;
    height: auto;
}
.nav_list {
    position: relative;
    display: flex;
    pointer-events: none;
}
.this_icon {
    pointer-events: none;
    position: absolute;
    bottom:0;
    left: 0;
    width: .7vw;
    height: .7vw;
    color: white;
    opacity:0;
    will-change: transform,opacity;
    transform-origin: center center;
    svg {
        position: absolute;
    }
}

.nav_item {
    width:7vw;
    text-align: center;
}
.nav_item a {
    color:var(--white);
  
}



@media (min-width: 601px) {
  
}
@media (max-width: 601px) {
    .nav {
        display: none !important;
    }
  
}
